    <div class="field">
      <%= f.label :call_puppet %><br />
      <%= f.check_box :call_puppet %>
    </div>
    <div class="field">
      <%= f.label :tag_only %><br />
      <%= f.check_box :tag_only %>
    </div>
    <div class="field">
      <%= f.label :path %><br />
      <%= f.text_field :path %>
    </div>
