<table class="puppet_show_table">
<thead>
	<tr>
		<th>Call Puppet</th>
		<th>Tag Only</th>
		<th>Path</th>
	</tr>
</thead>
<tbody>
	<tr>
		<td><%%= @<%= name %>.call_puppet %></td>
		<td><%%= @<%= name %>.tag_only %></td>
		<td><%%= @<%= name %>.tag_only ? 'N/A' : @<%= name %>.path %></td>
	</tr>
</tbody>
</table>
